body {
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    color: #472D30;
    font-size: 80px;
    text-align: center;
}
h2 {
    color: #985c63;
    font-size: 20px;
    text-align: center;
}
h3 {
    color: #472D30;
    font-size: 20px;
    text-align: left;
}
div.gallery img {
    width: 475px;
    height: 600px;
    object-fit: fill;
}
div.gallery {
    border: 5px solid #C9CBA3;
    width: 480px;
    height: 600px;
    display: inline-block;
    font-size: 20px;
    text-align: center;
  }
div.home img{
    width: 600px;
    height: 600px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}
div.home {
    display:inline-block
}
div.logo img{
    width:25%; 
    display: block;
    margin-left:auto;
    margin-right:auto;
}
ul {    
    width:100%; 
    float:center; 
    text-align:center; 
    padding:5px;
    background-color: #472d30;
}
li {
    padding-right: 20px;
    display: inline-block;
    list-style:none;
}
li .mymenu {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:30px;
    text-decoration: none;
    color: #985c63;
    background-size: 5px;
 }